





.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(190, 23, 23);
    z-index: 1000; /* Adjust the z-index as needed */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow when navbar is sticky */
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  